@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body{
  color: black;

  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.button {
  --font-color: black;
  --bg-color: #fff;
  --main-color: black;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
}

.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #2a9d8f;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  --piso-color: #283618;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 var(--piso-color), -35px 50px 0 var(--piso-color), -70px 95px 0 var(--piso-color);
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 var(--piso-color),
            -35px 50px 0 var(--piso-color),
            -70px 90px 0 var(--piso-color);
  }

  100% {
    box-shadow: 0 10px 0 var(--piso-color),
            -35px 50px 0 var(--piso-color),
            -70px 90px 0 var(--piso-color),
            -70px 90px 0 rgba(0, 0, 0, 0);
  }
}


.form {
  --input-focus: #606c38;
  --font-color: #323232;

  --bg-color: white;
  --main-color: black;
  padding: 20px;
  background: #E9ECEF ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 8px 9px var(--main-color);
}

.title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}

.title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}

.login-with {
  display: flex;
  gap: 20px;
}

.button-log {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

.button-log:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.button-confirm {
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}


.button2 {
  width: 150px;
  padding: 0;
  border: none;
  transform: rotate(5deg);
  transform-origin: center;
  font-family: "Gochi Hand", cursive;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #494a4b;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #514423;
  z-index: 5;
}

.button2 span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #494a4b;
}

.button:active {
  transform: translateY(5px);
  padding-bottom: 0px;
  outline: 0;
}

.card2 {

  --bg-color: #fff;
  --main-color: #323232;
  width: 200px;
  height: 200px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 7px 7px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
}

.card2:last-child {
  align-items: start;
}
.card2-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.sheet{
  box-sizing: border-box;
  max-width: 100%;
  font-size: 20px;
  border-radius: 6px 61px 32px 8px;
  background: #fff;
  background-image: linear-gradient(#fff  1.1rem, #ccc 1.2rem);
  background-size: 100% 1.2rem;
  line-height: 1.2rem;
  padding: 1.4rem 0.5rem 0.3rem 4.5rem;
  box-shadow: 9px 3px 21px 1px rgba(0,0,0,0.75);
}


.margin {
  position: relative;
  border-left: 1px solid #d88;
  height: 100%;
  left: -12px;
  top: 0;
}

.sheet p {
  margin: 0;
  text-indent: 1rem;
  padding-bottom: 1.2rem;
  color: black;
  line-height: 20px;
}

.main{

  margin-top: 50vh;

  margin-bottom: 50vh;

}

.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -25%;
  height: 500px;
  width: 1000px;
  border-radius: 25px;
  padding: 20px;
  transform-origin: top;
}

.card h2 {
  text-align: center;
  margin: 0;
  font-size: 28px;
}

.card .body {
  display: flex;
  height: 100%;
  gap: 50px;
}

.card .body .description {
  width: 100%;
  position: relative;
  top: 10%;
}

.card .body .description p {
  font-size: 16px;
}

.card .body .description p::first-letter {
  font-size: 28px;
  font-family: 'Title';
}

.card .body .description span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card .body .description span a {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}


.card .body .imageContainer {
  position: relative;
  width: 60%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}

.card .body .imageContainer .inner {
  width: 100%;
  height: 100%;
}

.card .body .imageContainer img {
  object-fit: cover;
  filter: grayscale(80%);
}